---
import curriculum from "../../documents/ValentinaCastillo.pdf"
---


<a href={curriculum} download="ValentinaCastillo.pdf" class="[grid-area:cv] will-change-transform bg-secondarycolor rounded-3xl p-8 shadow-lg flex flex-wrap justify-center content-center cursor-pointer transition-transform ease-in-out delay-100 hover:scale-95 duration-[700ms]">
    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-download inline stroke-bkg" width="25" height="25" viewBox="0 0 24 24" stroke-width="1.5" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <path d="M4 17v2a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-2" />
        <path d="M7 11l5 5l5 -5" />
        <path d="M12 4l0 12" />
      </svg>
      <span class="text-bkg ml-2">Descargar CV</span>
</a>