---
import staticGit from "../../images/githubIcon.webp"
---

<a href="https://github.com/Valnhe" target="_blank" class="[grid-area:hour] shadow-lg bg-hourcolor 2xl:aspect-square rounded-3xl relative overflow-hidden transition-transform ease-in-out delay-100 hover:scale-95 duration-500">
    <img src={staticGit.src} alt="Static GitHub" class="object-contain object-center h-full w-full z-0 absolute">
    <div class="z-10 relative p-4 text-white">
        <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" class="text-xl opacity-90 absolute top-4 right-4" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><line x1="7" y1="17" x2="17" y2="7"></line><polyline points="7 7 17 7 17 17"></polyline></svg>
    </div>
</a>