---
import me from "../../images/me.png"
import darktheme from "../../images/medarktheme.webp"
import whitetheme from "../../images/mewhitetheme.webp"
---

<section class="md:[grid-area:picture] bg-primarycolor rounded-3xl hidden lg:block overflow-hidden shadow-lg 2xl:aspect-square relative">
    <img src={darktheme.src} alt="Computer Gif" class="object-cover hidden dark:block object-right-top h-full w-full z-10">
    <img src={whitetheme.src} alt="Computer Gif" class="object-cover block dark:hidden object-right-top h-full w-full z-10">
    
</section>