---
import me from "../../images/me.gif"
---

<section class="md:[grid-area:picture] bg-bkg rounded-3xl hidden lg:block overflow-hidden shadow-lg 2xl:aspect-square relative">
    <img src={me.src} alt="Computer Gif" class="object-cover object-center h-full w-full blur-[1px]">
    <p class="z-10 p-4 text-white absolute bottom-3 left-3">Foto provisional 💀</p>
</section>