---
import me from "../../images/me.png"
import edited from "../../images/me.webp"
---

<section class="md:[grid-area:picture] bg-primarycolor rounded-3xl hidden lg:block overflow-hidden shadow-lg 2xl:aspect-square relative">
    <img src={me.src} alt="Computer Gif" class="object-cover object-right-top h-full w-full z-10">  
</section>