---
const {demo="#",code="#"} = Astro.props;
---
<nav class="flex justify-stretch text-sm">
    <a href={demo} target="_blank" class="bg-buttoncontact py-1.5 px-5 rounded-lg text-white shadow-sm font-semibold cursor-pointer border-2 border-transparent mr-3">
        Demo
    </a>
    <a href={code} target="_blank" class="border-2 border-buttoncontact py-1.5 px-5 rounded-lg text-buttoncontact shadow-sm font-semibold cursor-pointer hover:bg-buttoncontact hover:text-white transition-colors ease-in-out duration-500 delay-100">
        Código
    </a>
</nav>