---
import Layout from '../layouts/Layout.astro';
import AboutMe from '../components/About.astro';
import Picture from '../components/index-page/PictureCard.astro';
import Curriculum from '../components/index-page/CurriculumCard.astro';
import Toggle from '../components/Toggle.astro'
import Tecno from "../components/index-page/TecnoCard.astro";
import ProjectsCard from '../components/index-page/ProjectsCard.astro';
import LinkedIn from '../components/index-page/LinkedInCard.astro';
import GitHub from '../components/index-page/GitHubCard.astro';
import Email from '../components/index-page/EmailCard.astro';
---

<Layout title="valnhe">
	<main id= "app">
		<AboutMe>
			<h2 class="text-lg xl:text-2xl text-white">Hola,</h2>
			<h1 class="text-white font-semibold text-2xl xl:text-4xl">Soy Valentina<h1/>
			<p class="text-white text-md font-medium mt-2">Estudiante de Ingeniería Civil Informática</p>
			<p class="text-white text-md mt-5">Me enfoco en fusionar la creatividad y la tecnología para ofrecer soluciones bonitas. 🩷</p>
			<p class="text-white text-md mt-2 text-end">@valnhe</p>
		</AboutMe>
		<Picture/>
		<Curriculum/>
		<Toggle/>
		<Tecno/>
		<ProjectsCard/>
		<LinkedIn/>
		<GitHub/>
		<Email/>
	</main>
</Layout>

