---
import Layout from '../layouts/Layout.astro';
import About from '../components/About.astro';
import Toggle from '../components/Toggle.astro';

import BigProject from '../components/projects-page/bigProject.astro';
import SmallProject from '../components/projects-page/smallProject.astro';
import Links from '../components/projects-page/Links.astro';
import Image from '../components/projects-page/Image.astro';
import BlackButton from '../components/projects-page/BlackButton.astro';

import prueba from '../images/proyectos/prueba.png';
import pueba from '../images/proyectos/pueba.png';

import Astrosvg from '../icons/Astrosvg.astro';
import Reactsvg from '../icons/Reactsvg.astro';
import Tailwindsvg from '../icons/Tailwindsvg.astro';

---

<Layout title="valne | Projects">
    <main id="project">
        <About>
			<h1 class="text-3xl text-white font-semibold">Proyectos</h1>
            <p class="text-white text-md mt-4">Me enfoco en fusionar la creatividad y la tecnología para ofrecer soluciones bonitas. 🩷</p>
            <Links/>
		</About>
        <Toggle/>

        <a href="/" class="[grid-area:link] bg-curriculumcolor rounded-3xl p-8 shadow-lg flex flex-wrap justify-center content-center cursor-pointer transition-transform ease-in-out delay-100 hover:scale-95 duration-500">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-back-up inline stroke-bkg" width="25" height="25" viewBox="0 0 24 24" stroke-width="1.5" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M9 14l-4 -4l4 -4" />
                <path d="M5 10h11a4 4 0 1 1 0 8h-1" />
            </svg>
			<span class="text-bkg ml-2">Regresar</span>
		</a>  

         <!-- Proyecto 1 -->
        <section class="[grid-area:p1] bg-tecnocolor text-bkg rounded-3xl shadow-lg p-8">
            <BigProject
                name="Test",
                desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
                git="https://github.com/Valnhe"
            >

            <Image slot="image" link="https://github.com/Valnhe" image={prueba.src}> 
                <li class="mr-2">
                    <Reactsvg/>
                </li>
                <li class="mr-2">
                    <Tailwindsvg/>
                </li>
                <li class="mr-2">
                    <Astrosvg/>
                </li>
            </Image>

            <BlackButton/>

            </BigProject>
        </section>

        <!-- Proyecto 2 -->
        <section class="[grid-area:p2] bg-curriculumcolor text-bkg rounded-3xl shadow-lg p-8">
            <BigProject
                name="Test",
                desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
                git="https://github.com/Valnhe"
            >
            <Image slot="image" link="https://github.com/Valnhe" image={prueba.src}> 
                <li class="mr-2">
                    <Reactsvg/>
                </li>
                <li class="mr-2">
                    <Tailwindsvg/>
                </li>
            </Image>

            <BlackButton/>

            </BigProject>
        </section>

        <section class="[grid-area:small] grid grid-cols-projectos gap-3 md:block self-center rounded-3xl p-8 bg-aboutmecolor h-full">
            <!-- Proyecto 1 -->
            <SmallProject
                name="Translate App",
                git="https://translate-app-valnhe.netlify.app">
                <p>Una aplicación de traducción realizada con <strong>React</strong>, <strong>Tailwind</strong> y <strong>Vite</strong>.</p>
                <p class="mt-2">La aplicación utiliza la API de My Memory para traducir el texto ingresado al idioma seleccionado. ¡También permite copiar y escuchar el texto ingresado y traducido! 🌎</p>
                <p class="mt-2 float-right">Desafío de <strong>devChallenges.io</strong></p>
            </SmallProject>

            <!-- Proyecto 2 -->
            <SmallProject
                name="Simple Coffee Listing",
                git="https://simple-coffee-listing-valnhe.netlify.app">
                <p>Un pequeño proyecto realizado con <strong>React</strong> y <strong>Vite</strong>. </p>
                <p class="mt-2">Simplemente lista los cafés que se encuentran en un archivo JSON mediante el uso de un componente de tarjeta (card), ofreciendo la posibilidad de filtrar los cafés según su disponibilidad. ☕</p>
                <p class="mt-2 float-right">Desafío de <strong>devChallenges.io</strong></p>
            </SmallProject>

            <SmallProject
                name="Test",
                git="https://github.com/Valnhe"
            >
            Una pequeña descripción
            </SmallProject>
        </section>
        
    </main>
</Layout>




