---
import Layout from '../layouts/Layout.astro';
import Buttom from '../components/Button.astro';
import BigProject from '../components/bigProject.astro';
import SmallProject from '../components/smallProject.astro';
import Links from '../components/Links.astro';
import Image from '../components/Image.astro';

import prueba from '../images/proyectos/prueba.png';
import pueba from '../images/proyectos/pueba.png';

import Astrosvg from '../icons/Astrosvg.astro';
import Reactsvg from '../icons/Reactsvg.astro';
import Tailwindsvg from '../icons/Tailwindsvg.astro';
---

<Layout title="valne | Projects">
    <main id="project">
        <section class="[grid-area:about] bg-aboutmecolor rounded-3xl p-8 shadow-lg">
            <h1 class="text-3xl text-white font-semibold">Proyectos</h1>
            <p class="text-white text-md mt-4">Me enfoco en fusionar la creatividad y la tecnología para ofrecer soluciones bonitas. 🩷</p>
            <Links/>
        </section>
        <section class="[grid-area:theme] bg-changecolor rounded-3xl shadow-lg grid place-items-center relative">
			<Buttom/>
		</section>
        <a href="/" class="[grid-area:link] bg-curriculumcolor rounded-3xl p-8 shadow-lg flex flex-wrap justify-center content-center cursor-pointer transition-transform ease-in-out delay-100 hover:scale-95 duration-500">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-back-up inline stroke-bkg" width="25" height="25" viewBox="0 0 24 24" stroke-width="1.5" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M9 14l-4 -4l4 -4" />
                <path d="M5 10h11a4 4 0 1 1 0 8h-1" />
            </svg>
			<span class="text-bkg ml-2">Regresar</span>
		</a>  

         <!-- Proyecto 1 -->
        <section class="[grid-area:p1] bg-tecnocolor text-bkg rounded-3xl shadow-lg p-8">
            <BigProject
                name="Test",
                desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
                git="https://github.com/Valnhe"
            >

            <Image slot="image" link="https://github.com/Valnhe" image={prueba.src}> 
                <li class="mr-2">
                    <Reactsvg/>
                </li>
                <li class="mr-2">
                    <Tailwindsvg/>
                </li>
                <li class="mr-2">
                    <Astrosvg/>
                </li>
            </Image>
            
            <nav class="mt-3">
                <button>ola</button>
            </nav>

            </BigProject>
        </section>

        <!-- Proyecto 2 -->
        <section class="[grid-area:p2] bg-aboutmecolor text-white rounded-3xl shadow-lg p-8">
            <BigProject
                name="Test",
                desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
                git="https://github.com/Valnhe"
            >
            <Image slot="image" link="https://github.com/Valnhe" image={pueba.src}> 
                <li class="mr-2">
                    <Reactsvg/>
                </li>
                <li class="mr-2">
                    <Tailwindsvg/>
                </li>
                <li class="mr-2">
                    <Astrosvg/>
                </li>
            </Image>

            <nav class="mt-3">
                <button>ola</button>
            </nav>

            </BigProject>
        </section>

        <!-- Proyecto 3 -->
        <section class="[grid-area:p3] bg-curriculumcolor text-bkg rounded-3xl shadow-lg p-8">
            <BigProject
                name="Test",
                desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
                git="https://github.com/Valnhe"
            >
            <Image slot="image" link="https://github.com/Valnhe" image={prueba.src}> 
                <li class="mr-2">
                    <Reactsvg/>
                </li>
                <li class="mr-2">
                    <Tailwindsvg/>
                </li>
            </Image>

            <nav class="mt-3">
                <button>ola</button>
            </nav>

            </BigProject>
        </section>

        <section class="[grid-area:small] grid grid-cols-projectos self-center gap-3 rounded-3xl md:gap-5 p-8 bg-aboutmecolor">
            <SmallProject
                name="Test",
                desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
                git="https://github.com/Valnhe"
            >
                 
            </SmallProject>
            <SmallProject
                name="Test",
                desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
                git="https://github.com/Valnhe"
            >
            </SmallProject>
            <SmallProject
                name="Test",
                desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
                git="https://github.com/Valnhe"
            >

            </SmallProject>
            <SmallProject
                name="Test",
                desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
                git="https://github.com/Valnhe"
            >
      
            </SmallProject>
        </section>
        
    </main>
</Layout>




