---
import me from "../images/me.gif"
---

<section class="[grid-area:about] bg-aboutmecolor rounded-3xl p-8 shadow-lg">
    <h1 class="text-3xl text-white text-semibold">Valentina Castillo Valdés</h1>
    <p class="text-white mt-3">Hola!</p>
</section>
<section class="md:[grid-area:picture] bg-bkg rounded-3xl hidden md:block overflow-hidden shadow-lg aspect-square relative">
    <img src={me.src} alt="Computer Gif" class="object-cover object-center h-full w-full blur-[1px]">
    <p class="z-10 p-4 text-white absolute bottom-3 left-3">Foto provisional 💀</p>
</section>