---
import me from "../images/me.gif"
---

<section class="[grid-area:about] bg-aboutmecolor rounded-3xl p-8 shadow-lg">
    <h1 class="text-3xl text-white text-semibold">Valentina Castillo Valdés</h1>
    <p class="text-white mt-3">Hola!</p>
        <ul class="mt-4">
            <li class="inline pr-2">
                <a href="https://www.linkedin.com/in/valentina-castillo-valdes/" target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-linkedin inline transition-all ease-in-out hover:scale-125 duration-500" width="35" height="35" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z" />
                        <path d="M8 11l0 5" />
                        <path d="M8 8l0 .01" />
                        <path d="M12 16l0 -5" />
                        <path d="M16 16v-3a2 2 0 0 0 -4 0" />
                    </svg>
                </a>
            </li>
            <li class="inline">
                <a href="#email-zone">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-mail inline transition-all ease-in-out hover:scale-125 duration-500" width="35" height="35" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z" />
                        <path d="M3 7l9 6l9 -6" />
                    </svg>
                </a>
            </li>
        </ul>
</section>
<section class="md:[grid-area:picture] bg-bkg rounded-3xl hidden md:block overflow-hidden shadow-lg aspect-square relative">
    <img src={me.src} alt="Computer Gif" class="object-cover object-center h-full w-full blur-[1px]">
    <p class="z-10 p-4 text-white absolute bottom-3 left-3">Foto provisional 💀</p>
</section>