<section class="[grid-area:theme] bg-changecolor rounded-3xl p-8 shadow-lg">
    <label for="theme-selector">
        Cambio de tema
        <input type="checkbox" name="theme-selector" id="theme-selector">
    </label>
</section>

<script>
    const mainSection = document.getElementById("main-app");
    const themeSelector = document.getElementById("theme-selector") as HTMLInputElement;

    themeSelector.addEventListener('change', (e) => {
        mainSection.dataset.theme = themeSelector.checked ? "dark" : "light";
    });
</script>
