---
const {name , desc , git} = Astro.props
---

<a href={git} target="_blank" class="p-4 border-solid rounded-md border-2 border-gray-500 dark:border-slate-400 cursor-pointer hover:shadow-outline hover:border-transparent dark:hover:shadow-outlinedark relative overflow-hidden group transition-all ease-in-out duration-[400ms]">
    <svg stroke="#fff" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" class="text-xl absolute top-3 right-3 scale-0 group-hover:scale-90 transition-all ease-in-out duration-[400ms]" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><line x1="7" y1="17" x2="17" y2="7"></line><polyline points="7 7 17 7 17 17"></polyline></svg>
    <h3 class="text-xl font-bold">{name}</h3>
    <p class="mt-1 mb-2 font-light text-gray-300 dark:text-zinc-300">{desc}</p>
    <slot />
</a>