---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/1F338.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-bkg">
		<slot />
	</body>
</html>

<style>

	body {
		padding: 30px;
	}

	@media (min-width: 1024px) {
		body {
			padding: 64px 0px;
			margin: auto;
			max-width: 75%;
		}
	}

	@media (min-width: 1280px) {
		body {
			padding: 64px 0px;
			margin: auto;
			max-width: 50%;
		}
	}

</style>

<style is:global>

	@tailwind base;
	@tailwind components;
	@tailwind utilities;

	@layer base {
		:root {
			--color-bkg: 238 238 238;
			--color-primary: 51 97 113;
			--color-secundary: 218 102 123;
			--color-tertiary: 92 158 173;
		}
	}

	#app {
		display: grid;
		grid-template-areas: 
			"about about about"
			"cv cv theme"
			"tecno tecno tecno"
			"project project project"
			"hour hour discord"
			"email email email"
			;

		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(6, auto) ;
		gap: 10px;
	}

	@media (min-width: 1024px) {
		#app {
			grid-template-columns: repeat(4, 1fr);
			grid-template-rows: repeat(4, auto) 1fr auto;
			grid-template-areas: 
				"about about about picture"
				"cv tecno tecno tecno "
				"theme tecno tecno tecno "
				"project project discord hour"
				"email email email email"
			;
		}
	}
	
	html {
		font-family: 'Inter', sans-serif;
		box-sizing: border-box;
	}

	main {
		font-size: 20px;
	}

	code {
		font-family: 'Inter', sans-serif;
	}

</style>
